@tailwind base;
@tailwind components;
@tailwind utilities;

.linux-libertine-slanted {
  font-family: 'Linx Libertine Slanted';
}

.creato-display {
  font-family: 'Creato Display';
}

.rosela {
  font-family: 'ROSSELA';
}
